[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
matplotlib = "*"
lightning = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.11"
